# Database
POSTGRES_USER=lab-edu
POSTGRES_PASSWORD=
POSTGRES_DB=lab-edu
POSTGRES_PORT=5432

# Services
ENTRY_PORT=3000

# Images
CORE_IMAGE=ghcr.io/lab-edu/lab-edu-core:latest
WEB_IMAGE=ghcr.io/lab-edu/lab-edu-web:latest
